<RunSettings>
  <TestRunParameters>
    <Parameter name="SearchWord" value="dev" />
    <Parameter name="BaseUrl" value="" />
    <Parameter name="Browser" value="chromium" />
    <Parameter name="Headless" value="false" />
    <Parameter name="BrowserWidth" value="1920" />
    <Parameter name="BrowserHeight" value="1200" />

    <!-- Timeout settings -->
    <Parameter name="Timeout" value="15000" />
    <Parameter name="NavigationTimeout" value="30000" />
    <Parameter name="ActionTimeout" value="15000" />
  </TestRunParameters>
</RunSettings>